<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <title>Hitman Triathlon - Submissions</title>
    </head>
    <body>
        <div id="app">
            <v-app style="background-image: url('/assets/background.png')">
                <v-main>
                    <v-container>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col>
                                <v-img src="/assets/logo.png" max-width="350"></v-img>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-col>
                                Submit your video's for the Hitman Triathlon here. If you want to submit one video for all categories, submit the same video for all three categories.<br>
                                Logged in as: CurryMaker#9568 <a href="/auth/logout">Logout</a><br>
                                <v-btn color="green" :loading="isSaving" @click="save"><v-icon>mdi-content-save</v-icon>Save submissions</v-btn>
                                <v-alert type="success" dismissible v-model="savedAlert" class="mt-5">Saved successfully!</v-alert>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card elevation="5" outlined width="100%">
                                    <v-card-title><v-img src="/assets/circle_1.png" max-width="32" class="mr-5"></v-img>Round 1 - Bingo</v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text>
                                        <a href="https://google.com" target="_blank">Link to the board.</a><br>
                                        Complete two lines, and exit the mission as quickly as possible.
                                    </v-card-text>
                                    <v-text-field label="Link" class="mx-5" v-model="c1.link"></v-text-field>
                                    <v-text-field label="Note" class="mx-5" v-model="c1.notes"></v-text-field>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card elevation="5" outlined width="100%">
                                    <v-card-title><v-img src="/assets/circle_2.png" max-width="32" class="mr-5"></v-img>Round 2 - Contract</v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text>
                                        Contract ID's:<br>
                                        Epic: XX-XXXX-XXX-XXX<br>
                                        XBox: something something, idk the platforms or layout of contract ids<br><br>
                                        Complete the contract as quickly as possible.
                                    </v-card-text>
                                    <v-text-field label="Link" class="mx-5" v-model="c2.link"></v-text-field>
                                    <v-text-field label="Note" class="mx-5" v-model="c2.notes"></v-text-field>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card elevation="5" outlined width="100%">
                                    <v-card-title><v-img src="/assets/circle_3.png" max-width="32" class="mr-5"></v-img>Round 3 - Roulette Spin</v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text>
                                        Spin: Fiber Wire / Suit for Alexa Carlisle<br>
                                        Complete this Roulette Spin as quickly as possible.
                                    </v-card-text>
                                    <v-text-field label="Link" class="mx-5" v-model="c3.link"></v-text-field>
                                    <v-text-field label="Note" class="mx-5" v-model="c3.notes"></v-text-field>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-card elevation="5" outlined width="100%">
                                    <v-card-title><v-img src="/assets/circle_3.png" max-width="32" class="mr-5"></v-img>Round 3 - Roulette Spin - Revealed at XXth, XX:XX CEST</v-card-title>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            new Vue({
                el: '#app',
                vuetify: new Vuetify({ theme: { dark: true } }),
                async created() {
                    const user = await axios.get("/auth/user_name");
                    this.username = user.data;
                    await this.update();
                },
                data() {
                    return {
                        username: "",
                        c1: {
                            link: "",
                            notes: ""
                        },
                        c2: {
                            link: "",
                            notes: ""
                        },
                        c3: {
                            link: "",
                            notes: ""
                        },
                        allowedCategories: [0,1,2],
                        isSaving: false,
                        savedAlert: false,
                    }
                },
                methods: {
                    async update() {
                        for(const element of this.allowedCategories) {
                            const category = await axios.get("/api/submission?category=" + (element+1), { validateStatus: () => { return true }});
                            if (category.data !== "Not Found") {
                                this.getCategoryElement(element).link = category.data.link;
                                this.getCategoryElement(element).notes = category.data.notes;
                            }
                        }
                    },
                    async save() {
                        this.isSaving = true;
                        for(const element of this.allowedCategories) {
                            if (this.getCategoryElement(element).link !== "") { 
                                await axios.patch("/api/submission", {
                                    submission: {
                                        category: element+1,
                                        link: this.getCategoryElement(element).link,
                                        notes: this.getCategoryElement(element).notes,
                                    }
                                })
                            }
                        }
                        await this.update();
                        this.isSaving = false;
                        this.savedAlert = true;
                    },
                    getCategoryElement(category) {
                        switch(category) {
                            case 0:
                                return this.c1;
                            case 1:
                                return this.c2;
                            case 2:
                                return this.c3;
                            default:
                                return {};
                        }
                    }
                }
            })
        </script>
    </body>
</html>